<div class="card">
  <div class="card-header text-center">
    <h2>Paises</h2>

    <ul class="nav justify-content-center">

      <!-- <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Home Page</li>
        <li routerLink="about" routerLinkActive="active" class="list-group-item">About Page</li>
        <li routerLink="contact" routerLinkActive="active" class="list-group-item">Contact Page</li> -->

        <div class="btn-group" role="group" aria-label="Basic example">
          <button routerLink="countries/by-capital" type="button" class="btn">Por capital</button>
          <button routerLink="countries/by-country" type="button" class="btn">Por pais</button>
          <button routerLink="countries/by-region" type="button" class="btn">Por region</button>
          <button routerLink="countries/all" type="button" class="btn">Todos los paises</button>
        </div>

      <!-- <li routerLink="countries/by-capital" routerLinkActive="active" class="nav-item">
        <a>Por capital</a>
      </li>

      <li routerLink="countries/by-country" routerLinkActive="active" class="nav-item">
        <a>Por pais</a>
      </li>

      <li routerLink="countries/by-region" routerLinkActive="active" class="nav-item">
        <a>Por region</a>
      </li>
      <li routerLink="countries/all" routerLinkActive="active" class="nav-item">
        <a>todos los paises</a>
      </li> -->

    </ul>
  </div>
</div>
